{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'polls/bootstrap.css' %}">
</head>
<body>
  <div class="container">
  <ul class="list-group">
    {% for q in questions %}
    <a href="{% url 'polls:detail' q.id %}">
      <li class="list-group-item">
        {{ q.question_text }} - {{ q.pub_date }}
      </li>   
    </a>
    {% endfor %}
  </ul>
  </div>
</body>
</html>
